<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form class="ui form" method="post">
    <div class="field">
        <label>Product name</label>
        <input type="text" name="productName">
    </div>
    <div class="field">
        <label>Product price</label>
        <input type="number" name="productPrice">
    </div>
    <div>
        <button class="ui button" type="submit">Submit</button>
    </div>
</form>

</body>
</html>