<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #0f172a, #1e293b);
            color: white;
            text-align: center;
        }
        .container {
            max-width: 700px;
            margin: 100px auto;
            background: #111827;
            padding: 40px;
            border-radius: 18px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.3);
        }
        h1 {
            color: #FBF89BFF;
        }
        p {
            font-size: 1.1rem;
            color: #dbeafe;
        }
        a {
            display: inline-block;
            margin: 12px;
            padding: 12px 20px;
            border-radius: 10px;
            text-decoration: none;
            font-weight: bold;
        }
        .btn-primary {
            background: #FFF34DB5;
            color: #1e293b;
        }
        .btn-secondary {
            border: 2px solid #FBF89BFF;
            color: #FBF89BFF;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Success</h1>
    <p>Thank you. {{entityName}} data was added successfully!</p>

    <a href="/" class="btn-secondary">Home</a>
    <a href="/products" class="btn-primary">View Products</a>
</div>
</body>
</html>